<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" href="img/weather.png">
        <link rel="stylesheet" href="./css/styles.css">
        <script src='/check.js'></script>
    </head>
    <body>
        {{>header}}
        <p>{{error}}</p>
        {{>footer}}
    </body>
</html>