<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" href="img/weather.png">
        <link rel="stylesheet" href="./css/styles.css">
        <script src='/check.js'></script>
    </head>
    <body>
        <div class='main-content'>
            {{>header}}
            <h1>Help me mf</h1>
        </div>

        {{>footer}}
    </body>
</html>